.fake-content {
    display: flex;
    margin: 0 11px;
    padding: 24px 10px 15px;
    border-bottom: 1px solid #ededed;

    &__number {
        margin-right: 8px;
        background: #9b9b9b;
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }

    &__data {
        flex: 1;
    }

    &__title {
        height: 20px;
        width: 70%;
        background: #b0b0b0;
        margin-bottom: 13px;
    }

    &__info {
        height: 16px;
        width: 40%;
        background: #b0b0b0;
    }
}
